/*
PROJECT
Assignment: Bootstrap B&B
Author: Nylah Tay Rogers
Class: CIS-130
Date Due: 7/31/20
*/


:root{
  --page-padding: 5rem;
  --max-page-size: 1200px;
  --primary:#26b0dc;
  --primary-dark:#62a0a3;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rowdies', cursive;
}

h1 {color: var(--primary);}

/* override some bootstrap styles*/
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: #80b7b2;
}
a {    color: var(--primary);}
a:hover { color: var(--primary-dark) }




/* My Styles */
main, section.carousel, section.rooms, footer {
  margin: 2rem auto;
}

section.amenities {
  background-image: url('../img/background.png');
  background-size: cover;
  padding: 5rem 0;
}

.amenities .inner {
  margin: 0 auto;
}
nav {
}

.amenities .inner ul li {
  list-style: none;
  margin: .5rem 0;
  padding: 0 2rem;
}
.amenities .inner ul li i{
  margin-right: .10rem;
  margin-left: -2rem;
  width: 1.5rem;
}

footer {margin-bottom: 0;}
footer {margin:0; padding-top:3rem;}

footer .bottom {padding:1rem;}
.fa-child, .fa-baby {font-size:.75em;
}

/* styles for contact page only */
#contact main {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'article'
    'form'
    'aside';
}

#contact article { grid-area: article;}
#contact aside { grid-area: aside;}
#contact section.form { grid-area: form;}
#contact .map {width: 100%;}

@media (min-width:700px) {
  #contact main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      'article article aside'
      'form form aside';
  }
  #contact .map {width: 300px; height: 450px;}
}


@media (min-width:900px) {
  #contact main {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      'article article aside'
      'form form aside';
  }
  #contact .map {width: 500px;}
}
